body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #FF4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#iphone-image {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

.btn {
  margin: 0 10px 0 0;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff6c84;
}

/* Testimonials Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}
